* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 2rem;
    padding: 1rem;
    background-color: rgb(145, 137, 137);
    grid-template-columns: repeat(auto-fit,minmax(25px, 200px));
    grid-template-rows: repeat(auto-fit,1fr);
    justify-content: center;
    grid-template-areas: 
    /* first need to define header name by grid-area in each id/class 
    than in this need to define each cell what area should be */
        "header header header" /* for Row 1 - 3 column will be for header area */
        "sidebar content1 content1" /*for Row 2 - 1st column for sidebar, 2nd for contenet1 and 3rd for content1 */
        "sidebar content2 content3"
        "footer footer footer"; /*Last row for fotter */
    }

.items {
    border: 1px solid black;
    background-color: rgb(91, 189, 156);
    padding: 1rem;
    
}

.header {
    grid-area: header; /* defining the name of area */
}

.sidebar {
    grid-area: sidebar;
}

.content1 {
    grid-area: content1;
}

.content2 {
    grid-area: content2;
}
.content3 {
    grid-area: content3;
}
.footer {
    grid-area: footer;
}