:root {
/* Root element variables can be use globaly */
    --primary-color: rgb(79, 15, 255); /* Create custom variable */
    --custom-width: 35px; /* Create custom variable */
}

img {
    width: 300px;
    height: 150px;
    border-radius: 35px;
    /* height: 150px; */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: peachpuff;
    border: 1px solid black;
    height: 500px;
}

h2 {
    /*creating Text Shadow / by default shadow color is black */
    text-shadow:rgb(219, 216, 21) 1px 1px 2px, black 1px 1px 2px;
       
}

.box {
    
    background-color: aquamarine;
    border: 1px solid red;
    width: 300px;
    height: 425px;
    padding: 2px;
    /* box-shadow: 10px 15px brown; /* Show on Box */
    /* box-shadow: 10px 15px 10px brown; blur shadow on Box */
    /* box-shadow: 2px 2px 5px 1px brown; spread shadow on box */
    border-radius: var(--custom-width);
    /* box-shadow: inset 10px 15px 5px 5px brown; Shadow inside box */
    box-shadow: 5px 5px 5px var(--primary-color), 7px 7px 5px 1px rgb(238, 7, 45), 9px 9px 5px rgb(107, 218, 16);

}