* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(179, 255, 0);
}

.container {
    height: 100vh;
    width: 100%;
    background-color: pink;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr) ;
    gap: 0.2rem;
    padding: 1rem;
    border: 2px solid white;
    /* align-items:start;
    justify-items: center; */
    place-items: center end;
}

.item {
    height: 50px;
    width: 50px;
    background-color: rgb(4, 222, 230);
    border: 5px solid rgb(255, 255, 255);
    /* justify-self: stretch; (It will apply on Horizontal Axis) */
    /* align-self: cente  r; (it will apply on Vertical Axis) */
    /* place-self: center; ( work horizontal & Vertical both) */

}